#rootwizard
  %label#user-id{style: 'display: none'}= current_user.id
  %ul
    - if current_user.provider==nil
      %li
        %a{"data-toggle" => "tab", :href => "#tab0"} Informacion Personal
    - if current_user.manager==true
      %li
        %a{"data-toggle" => "tab", :href => "#tab1", :class =>"filter-status",:value => "pending"} Administrar Noticias Pendientes
      %li
        %a{"data-toggle" => "tab", :href => "#tab2", :id =>"manage-users"} Administrar Usuarios

    - else
      %li
        %a{"data-toggle" => "tab", :href => "#tab2", :class =>"filter-status",:value => "pending"} Noticias Pendientes
      %li
        %a{"data-toggle" => "tab", :href => "#tab3",:class =>"filter-status",:value => "accepted"} Noticias Aprobadas
      %li
        %a{"data-toggle" => "tab", :href => "#tab4",:class =>"filter-status",:value => "rejected"} Noticias Rechazadas            
      %li
        %a{"data-toggle" => "tab", :href => "#tab5",:class =>"filter-status",:value => "vetoed"} Noticias Vetadas

  .tab-content
    #tab0.tab-pane
      = render 'userinfo'
    #tab1.tab-pane
    #tab2.tab-pane
    #tab3.tab-pane
    #tab4.tab-pane
    #tab5.tab-pane
%script
  $('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'});