.row
  .col-lg-12
    %h1.page-header
      %p#test Universidades

.row.university
  .col-md-4
    %a{:href => "#"}
      %img.img-responsive.university-logo{:src => asset_path("ITCR_logo.svg.png"), :alt=> 'Imagen de la universidad'}
  .col-md-8
    %h3 Tecnologico de Costa Rica
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %a.btn.btn-primary{:href => "#"}
      Ver Profesores
    %a.btn.btn-primary{:href => "#"}
      Ver Cursos
%hr/

.row.university
  .col-md-4
    %a{:href => "#"}
      %img.img-responsive.university-logo{:src => asset_path("UNA_logo.png"), :alt=> 'Imagen de la universidad'}
  .col-md-8
    %h3 Universidad Nacional
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %a.btn.btn-primary{:href => "#"}
      Ver Profesores
    %a.btn.btn-primary{:href => "#"}
      Ver Cursos
%hr/

.row.university
  .col-md-4
    %a{:href => "#"}
      %img.img-responsive.university-logo{:src => asset_path("UCR_logo.png"), :alt=> 'Imagen de la universidad'}
  .col-md-8
    %h3 Universidad de Costa Rica
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
    %a.btn.btn-primary{:href => "#"}
      Ver Profesores
    %a.btn.btn-primary{:href => "#"}
      Ver Cursos
%hr/


/ Pagination
.row.text-center
  .col-lg-12
    %ul.pagination
      %li
        %a{:href => "#"} «
      %li.active
        %a{:href => "#"} 1
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3
      %li
        %a{:href => "#"} 4
      %li
        %a{:href => "#"} 5
      %li
        %a{:href => "#"} »
/ /.row
%hr/