.container
  .row
    .col-md-4
      %h3.control-label Buscar
      %input#search-bar.pull-left{:class => "form-control", maxlength: "60", autofocus: true}
      %a.btn.btn-primary.pull-right#search-btn
        %i.fa.fa-search

  .row
    .col-md-12
      %h4.control-label Resultados
      %div#results