.row
  .col-md-10
    %h1 Lista de Profesores
  .col-md-2
    %a.btn.btn-default.pull-right{onclick:"javascript:window.history.back();"} Ir atras

.row
  .col-md-6
    - if !user_signed_in?
      %blockquote
        %i Inicie sesi&oacute;n para evaluar.


.teacher-list
  = render "teachersTable"