.row
  .col-md-10
    %h1 Lista de Profesores
  .col-md-2
    %a.btn.btn-default.pull-right{onclick:"javascript:window.history.back();"} Ir atras

.row
  .col-md-6
    - if !user_signed_in?
      %blockquote
        %i Inicie sesi&oacute;n para evaluar.

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Apellidos
      %th Cantidad evaluaciones
      %th Calificacion General
      %th

  %tbody{"ng-repeat" => "t in teachers"}
    %tr{:id =>"{{t.id}}" }
      %td {{t.name}}
      %td {{t.last_name}}
      %td {{t.eval_amount}}
      - url_escaped_href = teacher_path('{{ t.id}}')
      - my_href = URI::unescape(url_escaped_href)
      %td= link_to 'Ver Profesor', my_href, {class: "btn btn-default"}